env
.env*
!.env.example

.DS_Store
.idea/
.vscode/

nginx/certs/.crt
nginx/certs/.key

todo-app/node_modules/
.next
todo-app/coverage/
todo-app/playwright-report/
todo-app/test-results/
todo-app/.vercel/
tsconfig.tsbuildinfo

bff/server
todo-service/server
user-service/server